.siteheader{
    padding: 8px 16px;
    font-size: 18px;
    
}
.siteheader>h1{

}

.calendar{
    background-color: white;
    margin: 16px;
    border-radius: 20px;
    color:#333;
    margin-top: 34px;
}
.canlendar-header{
    text-align: center;
    padding: 8px 0;
    font-size: 18px;
}
.canlendar-header>time{}
.canlendar-weekdays{
 display: flex;
    
}
.canlendar-weekdays >li {
    width: 14.2857%;
    text-align: center;
}
.canlendar-days{
    display: flex;
    flex-wrap: wrap;
}
.canlendar-days-today{
    background-color: yellow;
    border-radius: 8px;
}
.canlendar-days>li{
    width: 14.2857%;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
.canlendar-days-selector{
    outline: 1px solid yellow;
}
.canlendar-actions{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
.canlendar-actions button{
    height: 24px;
    font-size: 12px;
    padding: 0 6px;
}
.canlendar-action-left{
    padding-left: 8px;
}
.canlendar-action-left>button{}
.canlendar-action-right{
    display: flex;
}
.canlendar-action-right>button{}